#test {
  max-width: 500px;
  margin: 1em auto;
  padding: 1em;
  font-size: 18px;
  //@include box-shadow(rgba(#000, .1) 0 0 4px 1px inset, rgba(#000, .1) 0 1px 8px);
  //border: 1em solid rgba(#fff, .8);
}

.progress {
  text-align: right;
  text-transform: uppercase;
  font: normal normal .8em "Caviar Dreams";
}

.next { display: none; }
.back { text-decoration: none; color: #000; }

.question-index, .all {
  letter-spacing: -.1em;
}

.question {
  color: rgba(#000, .5);
  height: 0px;
  overflow: hidden;
  &.current, &.show { 
    font-size: 1em;
    height: auto;
    overflow: visible;
  }
  &.previous, &.current, &.answered {
    color: rgba(#000, 1);
  }
  li { line-height: 1.45em; }
  header {
    display: block;
    margin: .7em 0; 
    padding: .5em 0;
    font-weight: normal; 
    text-align: left;
    border-top: 4px solid #000;
    border-bottom: 1px solid rgba(#000, .3);
    h2 { margin: 0; }
    p { margin: .8em 0 .3em; }
  }
  header h2, header p, ul { @include translateX(10%); }
  &.current {
    header h2, header p, ul {
      @include translateX(0);
      @include transition(all .2s ease-out);
    }
  }
  &.previous.current {
    header h2, header p, ul {
      opacity: 0;
    }
  }
}

.answered {
  display: none;
  //h2 {
    //&:hover {
      //cursor: pointer;
      //text-decoration: underline;
    //}
  //}
}
