html, body {
  margin: 0 .5em;
  padding: 0;
}
#test {
  max-width: 500px;
  margin: 0 auto;
  font-size: 18px;
}

.progress-banner {
  position: relative;
  z-index: 1;
  background: rgba(#fff, .7);
  text-align: center;
  text-transform: uppercase;
  font: normal normal .6em "Helvetica Neue", Helvetica, Arial, sans;
  color: rgba(#000, .5);
  letter-spacing: 1px;
  text-shadow: #fff 0 1px;
  border: 1px solid rgba(#000, .08) { top-color: transparent; }
}

.next { display: none; }
.back { text-decoration: none; color: #000; }

.question-index, .all {
  letter-spacing: -.1em;
}

.questions {
  position: relative;
  margin: 1em 0;
}

.question {
  color: #000;
  height: 0px;
  overflow: hidden;
  background: $page-bg;

  &.current, &.show { 
    font-size: 1em;
    height: auto;
    overflow: visible;
  }

  li { 
    line-height: 1.7em;
    font-size: 1.2em;
  }

  header {
    display: block;
    font-weight: normal; 
    text-align: left;
    p { margin: .8em 0 .3em; }
  }

  opacity: 0;
  //border: 1px solid transparent;

  &.current {
    opacity: 1;
    @include transition(all .4s ease-in);
    position: absolute; z-index: 0;
    left: 0; right: 0;
  }
  &.out {
    opacity: 0;
    position: absolute; z-index: 2;
    @include transition(all .2s ease-in);
  }
}

.answered {
  display: none;
  h2 {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
