/* line 7, ../stylesheets/_base.scss */
html {
  background-color: #eff7fb;
}

/* line 10, ../stylesheets/_base.scss */
body {
  font-family: Helvetica, Arial, sans;
}

/* line 14, ../stylesheets/_base.scss */
ol {
  margin: 0 0 0;
  padding: 0;
  list-style: none;
}

/* line 19, ../stylesheets/_base.scss */
h1 {
  font-size: 1.7em;
}
/* line 21, ../stylesheets/_base.scss */
h1 span {
  font-size: .7em;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  top: -0.3em;
}
/* line 21, ../stylesheets/_base.scss */
h1 span:before {
  content: '(';
}
/* line 21, ../stylesheets/_base.scss */
h1 span:after {
  content: '%)';
}

/* line 23, ../stylesheets/_base.scss */
h2 {
  font-size: 1.8em;
}

/* line 26, ../stylesheets/_base.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  *zoom: 1;
}
/* line 38, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
ul:after {
  content: "";
  display: table;
  clear: both;
}

/* line 33, ../stylesheets/_base.scss */
footer {
  display: none;
}

/* line 35, ../stylesheets/_base.scss */
input[type=checkbox], input[type=radio] {
  position: absolute;
  z-index: -100;
  opacity: 0;
}
/* line 39, ../stylesheets/_base.scss */
input[type=checkbox] + label, input[type=radio] + label {
  position: relative;
  cursor: pointer;
}
/* line 43, ../stylesheets/_base.scss */
input[type=checkbox] + label:before, input[type=radio] + label:before {
  content: "";
  width: 16px;
  height: 16px;
  position: relative;
  display: inline-block;
  text-align: center;
  top: 2px;
  margin-right: 8px;
  color: transparent;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px 2px, rgba(0, 0, 0, 0.2) 0 0 1px 1px, rgba(0, 0, 0, 0.2) 0 1px 2px, white 0 -2px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px 2px, rgba(0, 0, 0, 0.2) 0 0 1px 1px, rgba(0, 0, 0, 0.2) 0 1px 2px, white 0 -2px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px 2px, rgba(0, 0, 0, 0.2) 0 0 1px 1px, rgba(0, 0, 0, 0.2) 0 1px 2px, white 0 -2px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(30%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.15));
  background-color: #fff;
}
/* line 57, ../stylesheets/_base.scss */
input[type=checkbox] + label:after, input[type=radio] + label:after {
  content: "";
  position: absolute;
}
/* line 62, ../stylesheets/_base.scss */
input[type=checkbox]:checked + label:before, input[type=radio]:checked + label:before {
  -webkit-box-shadow: rgba(63, 159, 207, 0.4) 0 0 1px 2px, rgba(63, 159, 207, 0.7) 0 0 1px 1px;
  -moz-box-shadow: rgba(63, 159, 207, 0.4) 0 0 1px 2px, rgba(63, 159, 207, 0.7) 0 0 1px 1px;
  box-shadow: rgba(63, 159, 207, 0.4) 0 0 1px 2px, rgba(63, 159, 207, 0.7) 0 0 1px 1px;
}
/* line 65, ../stylesheets/_base.scss */
input[type=checkbox]:focus + label:before, input[type=radio]:focus + label:before {
  -webkit-box-shadow: rgba(63, 159, 207, 0.4) 0 0 2px 2px, rgba(63, 159, 207, 0.7) 0 0 1px 1px;
  -moz-box-shadow: rgba(63, 159, 207, 0.4) 0 0 2px 2px, rgba(63, 159, 207, 0.7) 0 0 1px 1px;
  box-shadow: rgba(63, 159, 207, 0.4) 0 0 2px 2px, rgba(63, 159, 207, 0.7) 0 0 1px 1px;
  background-color: rgba(63, 159, 207, 0.05);
}

/* line 72, ../stylesheets/_base.scss */
input[type=radio] + label:before {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}
/* line 73, ../stylesheets/_base.scss */
input[type=radio] + label:after {
  width: 6px;
  height: 6px;
  left: 5px;
  top: .45em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 79, ../stylesheets/_base.scss */
input[type=radio] + label:hover:after {
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 82, ../stylesheets/_base.scss */
input[type=radio]:focus + label:after {
  background-color: rgba(63, 159, 207, 0.5);
}
/* line 85, ../stylesheets/_base.scss */
input[type=radio]:checked + label:after {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2c83af), color-stop(100%, #53a9d4));
  background-image: -webkit-linear-gradient(#2c83af, #53a9d4);
  background-image: -moz-linear-gradient(#2c83af, #53a9d4);
  background-image: -o-linear-gradient(#2c83af, #53a9d4);
  background-image: linear-gradient(#2c83af, #53a9d4);
}

/* line 90, ../stylesheets/_base.scss */
[data-icon]:before {
  font-family: dblayer;
  content: attr(data-icon);
  -webkit-font-smoothing: antialiased;
  speak: none;
  line-height: 1em;
}

/* line 97, ../stylesheets/_base.scss */
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
  color: transparent;
}

/* line 1, ../stylesheets/_test.scss */
#test {
  max-width: 500px;
  margin: 1em auto;
  padding: 1em;
  font-size: 18px;
}

/* line 10, ../stylesheets/_test.scss */
.progress {
  text-align: right;
  text-transform: uppercase;
  font: normal normal .8em "Caviar Dreams";
}

/* line 16, ../stylesheets/_test.scss */
.next {
  display: none;
}

/* line 17, ../stylesheets/_test.scss */
.back {
  text-decoration: none;
  color: #000;
}

/* line 19, ../stylesheets/_test.scss */
.question-index, .all {
  letter-spacing: -0.1em;
}

/* line 23, ../stylesheets/_test.scss */
.question {
  color: rgba(0, 0, 0, 0.5);
  height: 0px;
  overflow: hidden;
}
/* line 27, ../stylesheets/_test.scss */
.question.current, .question.show {
  font-size: 1em;
  height: auto;
  overflow: visible;
}
/* line 32, ../stylesheets/_test.scss */
.question.previous, .question.current, .question.answered {
  color: black;
}
/* line 35, ../stylesheets/_test.scss */
.question li {
  line-height: 1.45em;
}
/* line 36, ../stylesheets/_test.scss */
.question header {
  display: block;
  margin: .7em 0;
  padding: .5em 0;
  font-weight: normal;
  text-align: left;
  border-top: 4px solid #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 44, ../stylesheets/_test.scss */
.question header h2 {
  margin: 0;
}
/* line 45, ../stylesheets/_test.scss */
.question header p {
  margin: .8em 0 .3em;
}
/* line 47, ../stylesheets/_test.scss */
.question header h2, .question header p, .question ul {
  -webkit-transform: translateX(10%);
  -moz-transform: translateX(10%);
  -ms-transform: translateX(10%);
  -o-transform: translateX(10%);
  transform: translateX(10%);
}
/* line 49, ../stylesheets/_test.scss */
.question.current header h2, .question.current header p, .question.current ul {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 55, ../stylesheets/_test.scss */
.question.previous.current header h2, .question.previous.current header p, .question.previous.current ul {
  opacity: 0;
}

/* line 61, ../stylesheets/_test.scss */
.answered {
  display: none;
}
