/* line 8, ../stylesheets/_base.scss */
html {
  background-color: #eff7fb;
}

/* line 11, ../stylesheets/_base.scss */
body {
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans;
}

/* line 15, ../stylesheets/_base.scss */
ol {
  margin: 0 0 0;
  padding: 0;
  list-style: none;
}

/* line 20, ../stylesheets/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 22, ../stylesheets/_base.scss */
h1 {
  font-size: 1.7em;
}
/* line 24, ../stylesheets/_base.scss */
h1 span {
  font-size: .7em;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  top: -0.3em;
}
/* line 24, ../stylesheets/_base.scss */
h1 span:before {
  content: '(';
}
/* line 24, ../stylesheets/_base.scss */
h1 span:after {
  content: '%)';
}

/* line 26, ../stylesheets/_base.scss */
h2 {
  font-size: 1.8em;
}

/* line 29, ../stylesheets/_base.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  *zoom: 1;
}
/* line 38, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
ul:after {
  content: "";
  display: table;
  clear: both;
}

/* line 36, ../stylesheets/_base.scss */
footer {
  display: none;
}

/* line 38, ../stylesheets/_base.scss */
input[type=radio] {
  position: absolute;
  z-index: -100;
  opacity: 0;
}
/* line 43, ../stylesheets/_base.scss */
input[type=radio] + label {
  position: relative;
  cursor: pointer;
}
/* line 48, ../stylesheets/_base.scss */
input[type=radio] + label:before {
  content: "";
  width: 16px;
  height: 16px;
  position: relative;
  display: inline-block;
  text-align: center;
  top: 2px;
  margin-right: 8px;
  color: transparent;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 0 1px inset;
  background-color: transparent;
}
/* line 63, ../stylesheets/_base.scss */
input[type=radio] + label:before {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}
/* line 68, ../stylesheets/_base.scss */
input[type=radio] + label:hover:before, input[type=radio]:focus + label:before {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 2px inset;
}
/* line 72, ../stylesheets/_base.scss */
input[type=radio] + label:active:before {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px inset;
  background: rgba(0, 0, 0, 0.1);
}
/* line 77, ../stylesheets/_base.scss */
input[type=radio]:checked + label:before {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 1px inset;
  background: rgba(0, 0, 0, 0.1);
}

/* line 83, ../stylesheets/_base.scss */
[data-icon]:before {
  content: attr(data-icon);
  -webkit-font-smoothing: antialiased;
  speak: none;
  line-height: 1em;
}

/* line 89, ../stylesheets/_base.scss */
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
  color: transparent;
}

/* line 1, ../stylesheets/_test.scss */
html, body {
  margin: 0 .5em;
  padding: 0;
}

/* line 5, ../stylesheets/_test.scss */
#test {
  max-width: 500px;
  margin: 0 auto;
  font-size: 18px;
}

/* line 11, ../stylesheets/_test.scss */
.progress-banner {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  text-transform: uppercase;
  font: normal normal .6em "Helvetica Neue", Helvetica, Arial, sans;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  text-shadow: #fff 0 1px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-top-color: transparent;
}

/* line 24, ../stylesheets/_test.scss */
.next {
  display: none;
}

/* line 25, ../stylesheets/_test.scss */
.back {
  text-decoration: none;
  color: #000;
}

/* line 27, ../stylesheets/_test.scss */
.question-index, .all {
  letter-spacing: -0.1em;
}

/* line 31, ../stylesheets/_test.scss */
.questions {
  position: relative;
  margin: 1em 0;
}

/* line 36, ../stylesheets/_test.scss */
.question {
  color: #000;
  height: 0px;
  overflow: hidden;
  background: #eff7fb;
  opacity: 0;
}
/* line 42, ../stylesheets/_test.scss */
.question.current, .question.show {
  font-size: 1em;
  height: auto;
  overflow: visible;
}
/* line 48, ../stylesheets/_test.scss */
.question li {
  line-height: 1.7em;
  font-size: 1.2em;
}
/* line 53, ../stylesheets/_test.scss */
.question header {
  display: block;
  font-weight: normal;
  text-align: left;
}
/* line 57, ../stylesheets/_test.scss */
.question header p {
  margin: .8em 0 .3em;
}
/* line 63, ../stylesheets/_test.scss */
.question.current {
  opacity: 1;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
}
/* line 69, ../stylesheets/_test.scss */
.question.out {
  opacity: 0;
  position: absolute;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 76, ../stylesheets/_test.scss */
.answered {
  display: none;
}
/* line 79, ../stylesheets/_test.scss */
.answered h2:hover {
  cursor: pointer;
  text-decoration: underline;
}
