$input-border-focus: #3F9FCF;
$page-bg: mix(#fff, $input-border-focus, 92%);

@mixin at-width($size) {
  @media screen and (min-width: $size) { @content; }
}

html {
  background-color: $page-bg;
}
body {
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans;
}

ol {
  margin: 0 0 0;
  padding: 0;
  list-style: none;
}
#{headings()}{ font-weight: normal; }

h1 {
  font-size: 1.7em;
  span { font-size: .7em; color: rgba(#000, .6); &:before { content: '(';} &:after { content: '%)';} position: relative; top: -.3em; }
}
h2 {
  font-size: 1.8em;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  @include pie-clearfix;
}

footer { display: none; }

input[type=radio] { 
  position: absolute;
  z-index: -100;
  opacity: 0;

  + label {
    position: relative;
    cursor: pointer;
    $size: 16px;

    &:before {
      content: "";
      width: $size; height: $size;
      position: relative;
      display: inline-block;
      text-align: center;
      top: 2px;
      margin-right: 8px;
      color: transparent;
      cursor: pointer;
      box-shadow: rgba(#000, .4) 0 0 0 1px inset;
      background-color: transparent;
    }
  }

  + label:before {
    @include border-radius(1em);
  }

  + label:hover:before,
  &:focus +label:before {
    box-shadow: rgba(#000, .3) 0 0 0 2px inset;
  }

  + label:active:before {
    box-shadow: rgba(#000, .3) 0 0 0 1px inset;
    background: rgba(#000, .1);
  }

  &:checked + label:before {
    box-shadow: rgba(#000, .5) 0 0 0 1px inset;
    background: rgba(#000, .1);
  }
}

[data-icon]:before {
  content: attr(data-icon);
  -webkit-font-smoothing: antialiased;
  speak: none;
  line-height: 1em;
}
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
  color: transparent;
}
