/* line 5, ../sass/test.scss */
html {
  background-color: #eff7fb;
}

/* line 8, ../sass/test.scss */
body {
  font-family: Helvetica, Arial, sans;
}

/* line 11, ../sass/test.scss */
#test {
  max-width: 500px;
  margin: 1em auto;
  padding: 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px 1px inset, rgba(0, 0, 0, 0.1) 0 1px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px 1px inset, rgba(0, 0, 0, 0.1) 0 1px 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px 1px inset, rgba(0, 0, 0, 0.1) 0 1px 8px;
  border: 1em solid rgba(255, 255, 255, 0.8);
}

/* line 19, ../sass/test.scss */
ol {
  margin: 0;
}
/* line 21, ../sass/test.scss */
ol > li {
  margin-bottom: 1.45em;
}

/* line 23, ../sass/test.scss */
h1 {
  font-size: 1.7em;
}

/* line 26, ../sass/test.scss */
h2 {
  font-size: 1.1em;
}

/* line 29, ../sass/test.scss */
ul {
  list-style: none;
  padding: 0;
}

/* line 33, ../sass/test.scss */
li {
  margin-bottom: .3em;
}

/* line 36, ../sass/test.scss */
.answered {
  opacity: .5;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
/* line 39, ../sass/test.scss */
.answered ul {
  display: none;
}

/* line 42, ../sass/test.scss */
header {
  text-align: center;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  margin: -1em -1em 2em;
  padding: 1px 1px .5em;
}

/* line 49, ../sass/test.scss */
input[type=checkbox], input[type=radio] {
  position: absolute;
  z-index: -100;
  opacity: 0;
}
/* line 53, ../sass/test.scss */
input[type=checkbox] + label, input[type=radio] + label {
  position: relative;
  cursor: pointer;
}
/* line 57, ../sass/test.scss */
input[type=checkbox] + label:before, input[type=radio] + label:before {
  content: "";
  width: 16px;
  height: 16px;
  position: relative;
  display: inline-block;
  text-align: center;
  top: 3px;
  margin-right: 8px;
  color: transparent;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px 2px, rgba(0, 0, 0, 0.2) 0 0 1px 1px, rgba(0, 0, 0, 0.2) 0 1px 2px, white 0 -2px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px 2px, rgba(0, 0, 0, 0.2) 0 0 1px 1px, rgba(0, 0, 0, 0.2) 0 1px 2px, white 0 -2px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px 2px, rgba(0, 0, 0, 0.2) 0 0 1px 1px, rgba(0, 0, 0, 0.2) 0 1px 2px, white 0 -2px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(30%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.15));
  background-color: #fff;
}
/* line 71, ../sass/test.scss */
input[type=checkbox] + label:after, input[type=radio] + label:after {
  content: "";
  position: absolute;
}
/* line 76, ../sass/test.scss */
input[type=checkbox]:checked + label:before, input[type=radio]:checked + label:before {
  -webkit-box-shadow: rgba(63, 159, 207, 0.4) 0 0 1px 2px, rgba(63, 159, 207, 0.7) 0 0 1px 1px;
  -moz-box-shadow: rgba(63, 159, 207, 0.4) 0 0 1px 2px, rgba(63, 159, 207, 0.7) 0 0 1px 1px;
  box-shadow: rgba(63, 159, 207, 0.4) 0 0 1px 2px, rgba(63, 159, 207, 0.7) 0 0 1px 1px;
}
/* line 79, ../sass/test.scss */
input[type=checkbox]:focus + label:before, input[type=radio]:focus + label:before {
  -webkit-box-shadow: rgba(63, 159, 207, 0.4) 0 0 2px 2px, rgba(63, 159, 207, 0.7) 0 0 1px 1px;
  -moz-box-shadow: rgba(63, 159, 207, 0.4) 0 0 2px 2px, rgba(63, 159, 207, 0.7) 0 0 1px 1px;
  box-shadow: rgba(63, 159, 207, 0.4) 0 0 2px 2px, rgba(63, 159, 207, 0.7) 0 0 1px 1px;
  background-color: rgba(63, 159, 207, 0.05);
}

/* line 86, ../sass/test.scss */
input[type=radio] + label:before {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}
/* line 87, ../sass/test.scss */
input[type=radio] + label:after {
  width: 6px;
  height: 6px;
  left: 5px;
  top: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 93, ../sass/test.scss */
input[type=radio] + label:hover:after {
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 96, ../sass/test.scss */
input[type=radio]:focus + label:after {
  background-color: rgba(63, 159, 207, 0.5);
}
/* line 99, ../sass/test.scss */
input[type=radio]:checked + label:after {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2c83af), color-stop(100%, #53a9d4));
  background-image: -webkit-linear-gradient(#2c83af, #53a9d4);
  background-image: -moz-linear-gradient(#2c83af, #53a9d4);
  background-image: -o-linear-gradient(#2c83af, #53a9d4);
  background-image: linear-gradient(#2c83af, #53a9d4);
}
